body{
    background: linear-gradient(135deg, orange 60%, cyan);
    font-family: 'montserrat',sans-serif;
    display: flex;
    justify-content: center;
    text-align: center;
}
form{
    background: whitesmoke;
    justify-items: center;
    border-radius: 4px solid black;
    font-size: 15px;
    width: 50%;

}

#submit_btn{
    padding:10px;
    margin-top: 10px;
    width:50%;
    border-radius:12px;
    background:orange;
}